@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
////////
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $red;
  background-image: url(/assets/static/bg-intro-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: $font-family;
}

.header {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.header__title {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 1rem;
  line-height: 2.5rem;
}

.header__paragraph {
  text-align: center;
  font-weight: 500;
  margin-bottom: 4rem;
  line-height: 1.6rem;
}

.body__offert {
  background-color: $blue;
  display: flex;
  width: 90%;
  border-radius: 10px;
  color: #fff;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  line-height: 27px;
  box-shadow: $shadow-form;
}
.offert__paragraph {
  display: inline-block;
}

.offert__span {
  display: inline-block;
  font-weight: 700;
}

.form__container {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: $shadow-form;
}

.form__input {
  margin: 20px 20px;
  padding: 20px 0;
  border: 1px solid $grayish-blue;
  border-radius: 5px;
  overflow: hidden;
  padding-left: 20px;
  font-weight: 700;
}

.form__input--padding {
  margin-top: 0;
}

.form__btn {
  margin: 0px 20px 20px;
  padding: 20px 0;
  // border: 1px solid $green;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background-color: $green;
  box-shadow: $shadow;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.footer__paragraph {
  display: inline-block;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1.5rem;
  text-align: center;
  color: $grayish-blue;
  width: 80%;
  margin: 0 0 1.5rem 2rem;
}

.footer__span {
  color: red;
  font-weight: 700;
}

@media screen and (min-width: 1440px) {
  body {
    background-size: auto;
    background-repeat: repeat;
  }
  .container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .header {
    display: flex;
  }
  .header__title {
    font-size: 4rem;
    line-height: 4.5rem;
    // text-align: left;
    text-align: left;
    padding-left: 150px;
  }
  .header__paragraph > br {
    display: none;
  }
  .header__paragraph {
    padding-left: 150px;
    // padding-right: 10px;
    font-size: 1.3rem;
    text-align: left;
    line-height: 2.3rem;
  }
  .offert__paragraph > br {
    display: none;
  }
  .body__content {
    width: 90%;
  }
  .form__container {
    margin-top: 27px;
    padding-top: 30px;
  }
  .form__input {
    align-self: center;
    width: 85%;
    padding-left: 40px;
  }
  .form__btn {
    align-self: center;
    width: 85%;
    &:hover {
      background-color: #2da768;
      cursor: pointer;
    }
  }
  .footer__paragraph {
    padding-left: 70px;
  }
}
